*::selection {
    background-color: transparent;
}

body {
    overflow: hidden;
    display: hidden;
    padding: 0;
    margin: 0;
    font-family: "Basic" !important;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("map3.png");
    /* border-radius: 30px; */
}

.fa-map-marker-alt, .fa-map-marker {
    position: absolute;
    font-size: x-large;
    color: rgb(0, 132, 255);
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: font-size 0.25s;
}

.fa-map-marker-alt:hover, .fa-map-marker:hover {
    font-size: xx-large;
}

.fa-map-marker-alt:active, .fa-map-marker:active {
    color: rgb(255, 255, 255) 
}

.info-box {
    display: none;
    background-color: rgb(46, 46, 46);
    position: absolute;
    color: white;
    font-size: small;
    width: 700%;
    height: 150%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 55% 75%, 50% 100%, 45% 75%, 0% 75%);
    text-align: center;
    bottom: 105%;
    left: -300%;
    padding-top: 75%;
    font-family: "Basic";
}

.play {
    position: absolute;
    width: 12%;
    height: 4.5%;
    left: 60%;
    top: 6.5%;
    text-align: center;
    border: 3px solid rgba(46, 46, 46, 0);
    border-radius: 5px;
    background-color: rgba(255, 252, 82, 0);
    color: rgb(46, 46, 46);
    font-family: "Basic";
    font-size: larger;
    padding-bottom: 0.25%;
    transition: transform .2s;
}

#lastpos {
    position: absolute;
    opacity: 0.0;
    left: 90.50%;
    top: 87.25%;
    width: 1.5%;
    height: 1.5%;
}

.lastpos-text {
    position: absolute;
    opacity: 0.0;
    left: 10.35%;
    top: 85.85%;
    color: white; 
}


.information {
    position: absolute;
    top: 73.25%;
    left: 2.5%;
    width: 15.5%;
    height: 25%;
    /* background-color: aqua; */
    text-align: center;
}

#info {
    left: 25%;
    top: 25%;
    color:rgb(0, 0, 0);
    font-family: "Ma Shan Zheng";
    font-size: xx-large;
}
/* Motel */
#loc0 { 
    top: 51%;
    left: 55%;
}
/* LSPD */
#loc1 {
    top: 47.75%;
    left: 57.25%;
}

#loc2 {
    top: 100.15%;
    left: 64.45%;
}

#loc3 {
    top: 100.15%;
    left: 64.45%;
}
/* Blaine County */
#loc4 {
    top: 55%;
    left: 7%;
}

#loc5 {
    top: 32.35%;
    left: 25.25%;
}

/* Airport */
#loc6 {
    top: 65%;
    left: 65.25%;
}

@media only screen and (min-width: 2550px) and (max-width: 2560px) {
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("mapfixed.png");
        /* border-radius: 30px; */
    }

    .play {
        position: absolute;
        width: 12%;
        height: 4.5%;
        left: 60%;
        top: 18%;
        text-align: center;
        border: 3px solid rgba(46, 46, 46, 0);
        border-radius: 5px;
        background-color: rgba(255, 252, 82, 0);
        color: rgb(46, 46, 46);
        font-family: "Basic";
        font-size: larger;
        padding-bottom: 0.25%;
        transition: transform .2s;
    }

        /* Apartments */
        #loc0 { 
            top: 50%;
            left: 54.0%;
        }
        /* LSPD */
        #loc1 {
            top: 49.2%;
            left: 56.0%;
        }
        /* Hospital (NOT USED) */
        #loc2 {
            top: 100.15%;
            left: 64.45%;
        }
        /* JOB CENTER (NOT USED) */
        #loc3 {
            top: 100.15%;
            left: 64.45%;
        }
        /* Blaine County */
        #loc4 {
            top: 57%;
            left: 20.50%;
        }
        /* Sandy */
        #loc5 {
            top: 36.0%;
            left: 32.0%;
        }
        /* Airport */
        #loc6 {
            top: 62.15%;
            left: 63.80%;
        }
    
} 